#map {
	width: 100%;
	height: 180px;
	margin-top: 30px;
}


.heading {
	width: 100%;
	height: 70px;
	margin-top: 40px;
	
}

.heading > .heading-box {
	width: 80%;
	height: 70px;
	margin: 0 auto;

	h1{
		
		font-size: 20px;
		line-height: 70px;
		text-transform: uppercase;
		letter-spacing: 2px;
		position: relative;
		font-family: 'Open Sans', sans-serif;
		
		
		&:before {
			content: ' ';
			position: absolute;
			width: 300px;
			height: 1px;
			background-color: #1F7D3F;
			top: 80%;
			}
		
	}
}


.contacts-box {
	width: 80%;

	margin: 50px auto;
	

}


.all-infos {
	height: 300px;
	display: flex;



	.titlesside {
		float: left;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
			h5 {
				
				font-weight: bold;
				line-height: 20px;
				margin: 0;
			}
	}

	.infoside {
		float: left;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		margin-left:10px;


		p {
			
			font-family: 'Open Sans', sans-serif;
			line-height: 20px;
			margin-left: 15px;
			margin-bottom: 0;
			font-size: 13px;
		
		}
}
}


