.navigation {
	width: 90%;
	height: 80px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	transition: 0.2s ease;
	margin-top: 10px;
	box-shadow: 0px 4px 6px -5px #d6d7d8;
	


		@include breakpoint(medium) {
	 		width: 90%;
		  }


	
}

.margin-bottom {
	margin-bottom: 230px;
	
	}



.logobox {
	
	height: 100px;


	img {
		height: 75px;
		
		
	}
}

.navigation > nav {
	
	height: 80px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	position: relative;

	 	@include breakpoint(medium) {
	 		visibility: hidden;
		  	opacity: 0;

			width: 100%;
			height: 220px;
	     	
	      	display: block;
	    
	      	margin-top: 80px;
	      	transition: .3s ease;
	      	
	     


		  }

		

	ul {  

		@include breakpoint(medium) {
			 display: flex;
    		 flex-direction: column;
    		 // align-items: center;
    		 // justify-content : center;
			position: absolute;
			right: -55px;
    		 
    		}
		
			
			

		li {
			display: inline;
			margin: 0 25px 0 25px;
				@include breakpoint(custom) {
	 			margin: 0 20px 0 20px;
		  	}
		  		@include breakpoint(medium) {
		  			margin:  12px 0 ;
		  			border-bottom: 1px solid #ef5345;
		  			
		  		}

				a {

					text-decoration: none;
					color: #000;
					font-size: 15px;
					letter-spacing: 3px;
					
					font-weight: bold;
					font-family: 'Open Sans', sans-serif;
					padding-bottom: 5px;


						@include breakpoint(medium) {
							
			  			}
		  		
			
				}


		}
	}
}

.show-ul {
	visibility: visible!important;
	opacity: 1!important;
}

.navigation > nav > ul li a:hover {
	// border-bottom: 2px solid #1F8040;
	transition: scale(1.2), 0.3s;
}


#burgerino {
	float: right;
	visibility: hidden;
	opacity: 0;
	outline: 0;
	   @include breakpoint(medium) {
		  	visibility: visible;
		  	opacity: 1;
		  }
}









////////////////////// MAIN CONTENT  /////////////////



.heroContainer {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;

}



.maincontent {
	width: 70%;
	height: 800px;
	
	margin: 50px 0;

		h1 {
			margin: 200px 50px;
		}
}

.sidebar {
	width: 30%;
	height: 800px;
	
	margin: 50px 0;
	display: flex;
	justify-content: flex-end;
	
}

.footeris {
	width: 100%;
	height: 70px;
	background-color: #545251;
	display: flex;
	justify-content: center;
	align-items: center;
	

 		h1 {
			font-family: 'Open Sans', sans-serif;
			color: #fff;
			font-size: 12px;
			margin: 0;
			text-align: center;
			// line-height: 70px;
 		}
}



////// button go top css


.btnn {
	height: 30px;
	width: 30px;
	background-color: #ef5345;
	position: fixed;
	bottom: 20px;
	right: -120px;
	transition: .2s;
	cursor: pointer;
	transition: 0.4s;
	border-radius: 50%;

	p {
		text-align: center;
		line-height: 30px;
		font-size: 15px;


			i {
				color: #fff;
			}
		
	}
}

.btnn:hover {
	background-color: #bf4237;
	
}


.showbox {
	right: 20px;
}
