* {
	box-sizing: border-box;
}

.titlebox {
	width: 85%;
	height: 70px;
	margin: 50px auto;
	
	


	h1{
		
		font-size: 20px;
		line-height: 70px;
		text-transform: uppercase;
		letter-spacing: 2px;
		position: relative;
		font-family: 'Open Sans', sans-serif;
				
		@include breakpoint(xsmall) {
				font-size: 16px;
			 }
		
		&:before {
			content: ' ';
			position: absolute;
			width: 300px;
			height: 1px;
			background-color: #1F7D3F;
			top: 80%;

				@include breakpoint(xsmall) {
				width: 250px;;
			 }
			}
		span {
			width:30px;
		}
	}
}


.all-members {
	width: 85%;
	
	margin: 40px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
		@include breakpoint(small) {
				justify-content: center;
			 }
		
		@include breakpoint(xsmall) {
				width: 100%;
			 }


	.member {
		width: 45%;
		height: 165px;
		display: flex;	
		flex-wrap: wrap;
		border-bottom: 1px solid #ccc;
		margin-bottom: 30px;

			@include breakpoint(small) {
				width: 	80%;
				justify-content: space-between;
				height: 150px;
			 }

			 // @include breakpoint(xxsmall) {
				// height: 160px;
			 // }

	}
}

.member .logo {
	
	height: 150px;
	width: 40%; 
}


.member .logo {
	
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

 .member .logo {
	background-image: url('/images/listpringas 300.png');
}


.member .logo2{
	background-image: url('/images/laguna.png');
}

.member .logo3{
	background-image: url('/images/baldai.png');
}

.member .logo4{
	background-image: url('/images/terekas.png');
}

.member .logo5{
	background-image: url('');
}
.member .logo6{
	background-image: url('/images/kretingos_maistas-18878-907.jpg');
	transform: scale(.9);
}
.member .logo7{
	background-image: url('/images/padagas.png');
}
.member .logo8{
	background-image: url('/images/jonis.png');
}
.member .logo9{
	background-image: url('/images/viciunai.png');
}
.member .logo10{
	background-image: url('/images/mokymai.png');
}
.member .logo11{
	background-image: url('/images/Gilinis-logo.jpg');
}
.member .logo12{
	background-image: url('/images/constro.png');
}
.member .logo13{
	background-image: url('/images/hovden.jpg');
}

.member .logo14{
	background-image: url('/images/alginora-uab.png');
}

.member .logo15{
	background-image: url();
}
.member .logo16{
	background-image: url('/images/2123230.jpg');
}





.member .info {
	
	height: 150px;
	width: 55%; 
	display: flex;
	align-items: center;
	
}

.member .info .all-info {
		
	

		h1 {
			font-size: 13px;
			width: 100%;
			font-weight: bold;
			font-family: 'Open Sans', sans-serif;
			margin-left: 10px;
			margin-top: 0;
			text-align: left;
			
			 @include breakpoint(xxsmall) {
				font-size: 11px;
			 }

		  		
		}

		p {
			
			font-size: 12px;
			width: 100%;
			margin-left: 10px;
			font-family: 'Open Sans', sans-serif;
			text-align: left;
			
			 @include breakpoint(xxsmall) {
				font-size: 10px;
			 }

		}

		span {
			color: #868584 ;
			font-family: 'Open Sans', sans-serif;
			text-align: left;

		}
	}

	.special-members {
		width: 100%;
		margin-top: 50px;
		margin-bottom: 20px;
		margin: 50px 0 20px 0;
		text-align: center;
		font-size: 25px;
		letter-spacing: 3px;
	}