$breakpoints: (
	xxsmall : 455px,
	xsmall : 576px,
	small  : 790px,
	medium : 992px,
	custom : 1035px,
	big: 1130px
);

// Media query mixins
@mixin breakpoint($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media (max-width: #{map-get($breakpoints, $breakpoint)}) {
			@content;
		}
	}
}