html, body {
	font-family: 'Open Sans', sans-serif;

}


* {
	box-sizing: border-box;
}

$calendar-day: red;

$bg: #ccc;

$red: #ef5345;

$text-anim: ease-in;

$dark-green: #71ad5f;

$grey: #7a7f79;

$yellow: #e8e812;